@font-face {
    font-family: WC;
    src: url(../Fonts/WCManoNegraBta/WCManoNegraBta.ttf);
  }
@font-face{
    font-family: Anton;
    src: url(../Fonts/Anton.ttf);
}

	
body { overflow-x: hidden; 
background-color: #FFF9F4;
}

.navbar{
    background-color: #ad1818;
}

.navbar-nav > li > a{
    color: rgb(255, 255, 255) !important;
}
#linka{
    font-family: Anton;
    font-size: 2em;
}
.img-coroa{
    width: 350px;
    height: 200px;
    margin-left: 170px;
}
header{
    font-size: 10pt;
}
#logo{
    width: 70px;
    height: 70px;
    margin-right: 500px;
}
#nome_logo{
    width: 400px;
    margin-top: 170px;
    margin-left: 750px;
    font-family: WC;
    color: #ad1818;
    font-size: 65pt;
}
.float-left{
    width: 630px;
    height: 90%;
}
.linha{
    width: 500px;  
    height: 5px;      
    background: 
    linear-gradient(to right, #fbffaf, #ffe021) 0% 0%, /* Gradiente da esquerda para a direita */
    linear-gradient(to left, #fbffaf, #ffe021) 0% 0%; /* Gradiente da direita para a esquerda */
    background-size: 50% 100%, 50% 100%; /* Cada gradiente cobre 50% da largura e 100% da altura */
    background-position: left top, right top; /* Um gradiente começa à esquerda, o outro à direita */
    background-repeat: no-repeat; /* Evita que o gradiente se repita */
    margin-left: 690px;
    margin-top: -35px;
}
#nome_logo2{
    width: 400px;
    margin-top: 50px;
    margin-left: 725px;
    font-weight: bold;
    color: #000000;
    font-family: Anton;
    font-size: 26pt;
    text-align: center;
}